@model msgboard.Models.MsgDataSearchViewModel
@{
    ViewBag.Title = "留言板";
}
<h2>message</h2>
@Html.ActionLink("我要留言", "msg", "Home", new { @class = "btn btn-primary" })
@using (Html.BeginForm())
{
<input type="text"  name="searchword" >
<input type="submit" value="搜尋">
}
<table class="table">

    <tr>
        <th>@Html.DisplayName("好友")</th>
        <th>@Html.DisplayName("訊息")</th>
        <th>@Html.DisplayName("時間")</th>
        <th>@Html.DisplayName("回覆訊息")</th>


    </tr>


    @foreach (var item in Model.msgdatas)
    {
        <tr>
            <td>@item.fname</td>
            <td>@item.msg</td>
            <td>@item.fdate.ToString()</td>
            <td>@item.reply</td>

            @if ((string)Session["Username"] == "admin")
            {
                <td>@Html.ActionLink("回覆", "reply", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("刪除", "delete", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('確定要刪除嗎?')" })</td>
            }
        </tr>
    }



</table>